

.heading {
    color: blue;
}
.para{
    color: rgb(255, 115, 0);
    font-size: large;
    background-color: bisque;
}
.para2{
    color: green;
    font-size: large;
    background-color: white;
    font-weight: 700;
}